<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="/static/mobile/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/static/mobile/css/sb-admin-2.min.css" rel="stylesheet">

</head>
<br>
<body id="page-top">
<br>
<a href="/mobile/index" style="margin-left: 5px" class="btn btn-light btn-icon-split">
    <span class="icon text-gray-600">
      <i class="fas fa-arrow-left"></i>
    </span>
    <span class="text">Go back</span>
  </a>
	<br><br> 
	<center><h1>Your game list</h1></center>
	<br>
  <div class="card shadow mb-4" style="margin-left: 10px; margin-right: 10px;">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary"><a href="/game/memory">Memory game</a></h6>
    </div>
    <div class="card-body">
      Matching games are games that require players to match similar elements. As the name implies, participants need to find a match for a word, picture, or card. For example, students place 30 word cards; composed of 15 pairs, face down in random order. 
    </div>
  </div>

  <div class="card shadow mb-4" style="margin-left: 10px; margin-right: 10px;">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary"><a href="/game/recognizefaces">Recognize faces</a></h6>
    </div>
    <div class="card-body">
      Recognize the faces of your loved ones. This game shows you images of people close to you
      and you have to identify the person
    </div>
  </div>

  
  <!-- Bootstrap core JavaScript-->
  <script src="/static/mobile/vendor/jquery/jquery.min.js"></script>
  <script src="/static/mobile/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plu/static/mobile/gin JavaScript-->
  <script src="/static/mobile/vendor/jquery-easing/jquery.easing.min.js"></script>
  <!-- Custom s/static/mobile/cripts for all pages-->
  <script src="/static/mobile/js/sb-admin-2.min.js"></script>
  <!-- Page lev/static/mobile/el plugins -->
  <script src="/static/mobile/vendor/chart.js/Chart.min.js"></script>
  <!-- Page lev/static/mobile/el custom scripts -->
  <script src="/static/mobile/js/demo/chart-area-demo.js"></script>
  <script src="/static/mobile/js/demo/chart-pie-demo.js"></script>

</body>

</html>
