<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="/static/mobile/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/static/mobile/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">
<br>
<a href="/mobile/index" style="margin-left: 5px" class="btn btn-light btn-icon-split">
    <span class="icon text-gray-600">
      <i class="fas fa-arrow-left"></i>
    </span>
    <span class="text">Go back</span>
  </a>
  <a href="#" style="float: right; margin-right: 5px;" class="btn btn-info btn-icon-split">
    <span class="text">Create</span>
    <span class="icon text-white-50">
      <i class="fas fa-flag"></i>
    </span>
  </a>

	<br><br><br>
	<center><h1>Your to do list</h1></center>
	<br>
  

    <div class="table-responsive">
    <table class="table" id="dataTable" width="100%" cellspacing="0">
      <tbody id="content">


 <template id="tasktemplate">
    <tr>
          <td>
    <div class="mr-3">
      <div class="icon-circle bg-primary">
        <img id="image" src="/static/mobile/img/woman1.jpg" style="width: 50px; height: 50px; border-radius: 15px"/>
      </div>
    </div>
  </td>
  <td>
    <div>
      <div id="name" class="small text-gray-500">Your daughter</div>
      <span id="desc" class="font-weight-bold">Please water the flowers</span>
    </div>
  </td>
  <td style="margin-right: -30px;">
    <button id="submit" class="btn btn-success btn-circle">
        <i class="fas fa-check"></i>
    </button>
  </td>
  </tr>
  </template>
      </tbody>
    </table>
</div>
  
  <!-- Bootstrap core JavaScript-->
  <script src="/static/mobile/vendor/jquery/jquery.min.js"></script>
  <script src="/static/mobile/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plu/static/mobile/gin JavaScript-->
  <script src="/static/mobile/vendor/jquery-easing/jquery.easing.min.js"></script>
  <!-- Custom s/static/mobile/cripts for all pages-->
  <script src="/static/mobile/js/sb-admin-2.min.js"></script>
  <!-- Page lev/static/mobile/el plugins -->
  <script src="/static/mobile/vendor/chart.js/Chart.min.js"></script>
  <!-- Page lev/static/mobile/el custom scripts -->
  <script src="/static/mobile/js/demo/chart-area-demo.js"></script>
  <script src="/static/mobile/js/demo/chart-pie-demo.js"></script>
    
  <script>
    var template = document.querySelector("#tasktemplate");
    var table = document.querySelector("#content");

    var req = new XMLHttpRequest();
    req.open('GET', 'https://wtl.pw:5000/api/view_todo', true);
    req.setRequestHeader('Token', localStorage.getItem('token'));
    req.onreadystatechange = function() {
        if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
            var data = JSON.parse(this.responseText);

            for (var i = 0; i < data.length; i++) {
                var clone = document.importNode(template.content, true);
                var img = clone.querySelector("#image");
                var name = clone.querySelector("#name");
                var desc = clone.querySelector("#desc");

                img.setAttribute('src', data[i]['img']);
                name.innerHTML = data[i]["name"];
                desc.innerHTML = data[i]["desc"];

                var submit = clone.querySelector("#submit");
                submit.onclick = function () {
                   table.removeChild(this.parentElement.parentElement); 
                }

                table.appendChild(clone);
            }
        }
    }
    req.send(null);
    
  </script>

</body>

</html>
