<meta name="viewport" content="width=device-width, initial-scale=1">


<script src='/static/qr/vendor/jsqrcode-packaged/build/jsqrcode.js'></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="/static/qr/css/main.css">
<link rel="stylesheet" href="/static/qr/css/fullscreen.css">
<link rel="stylesheet" href="/static/qr/css/overlay.css">

<body>
<div class="video-container fullscreen-bg">
	<video style="border-radius: 25px; border: 3px solid grey;" autoplay id="camsource" class='fullscreen-bg__video'></video>
	<img class='test' width="50px" src="/static/qr/images/corners.png" />
</div>

<div class="header" style="text-align: center; margin-top: 15%;">
	<h1 style="color: grey">Scan QR code to login</h1>
</div>
<div id="content-overlay" style='display: none'>
	<div class='qrcode-value'></div>
	<a class='copy-clipboard button'>
		<i class="material-icons">content_copy</i>
		<div class='label'>Copy</div>
	</a>
	<a class='open-browser button'>
		<i class="material-icons">open_in_browser</i>
		<div class='label'>Open</div>
	</a>
	<a class='close-overlay button'>
		<i class="material-icons">close</i>
		<div class='label'>Close</div>
	</a>
</div>

<center>
	<a href="#" style="font-weight: bold; text-decoration: none; font-size: 20px; position: absolute; bottom: 10%; left: 0; right: 0;">Need help?</a>
</center>

	<script src='/static/qr/js/overlay.js'></script>
	<script src='/static/qr/js/main.js'></script>
</body>
