<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Forever Family</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="/static/home/img/favicon.ico" rel="icon">
  <link href="/static/home/img/favicon.ico" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/static/home/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/static/home/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/home/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/static/home/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/static/home/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/static/home/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/static/home/css/style.css" rel="stylesheet">

</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
        <a href="#intro" class="scrollto"><img src="/static/home/img/logo.png" alt="" class="img-fluid"></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="#intro">Home</a></li>
          <li><a href="#about">Our Initiative</a></li>
          <li><a href="#howwecanhelpyou">How We Can Help You</a></li>
          <li><a href="#why-us">Why Us?</a></li>
          <li><a href="#testimonials">Testimonials</a></li>
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src="/static/home/img/intro-img.png" alt="" class="img-fluid">
      </div>

      <div class="intro-info">
        <h2>Stay <span>connected</span> with your family during your early stage Alzheimer's!</h2>
        <div>
          <a href="#about" class="btn-get-started scrollto">I'm a patient and I need help</a>
          <a href="/home/login" class="btn-howwecanhelpyou scrollto">I'm a family member and I want to help</a>
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>About our initiative</h3>
          <p>We are a group of individuals united by our will to help Alzheimer's patients.</p>
        </header>

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <p>
                Forever Family is a simple, easy to use app for Alzheimer’s patients to remember events, stay connected and engaged with friends and family.
            </p>

            <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="fa fa-money"></i></div>
              <h4 class="title"><a href="">It's Free</a></h4>
              <p class="description">Our application won't ask you for money or annoy you with ads.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-photo"></i></div>
              <h4 class="title"><a href="">AI Facial Recogntition</a></h4>
              <p class="description">Our application uses AI to recognize your family members.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fa fa-bar-chart"></i></div>
              <h4 class="title"><a href="">Lots of statistics</a></h4>
              <p class="description">View your Alzheimer's progress based on our advenced statistics system.</p>
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
            <img src="/static/home/img/about-img.jpg" class="img-fluid" alt="">
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp">
            <img src="/static/home/img/about-extra-1.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
            <h4>Learn more about Alzheimer's disease.</h4>
            <p>
                Alzheimer's disease is a type of dementia that causes problems with memory, thinking and behavior. Symptoms usually develop slowly and get worse over time, becoming severe enough to interfere with daily tasks.
            </p>
            <p>
                Alzheimer's is the most common cause of dementia, a general term for memory loss and other cognitive abilities serious enough to interfere with daily life. Alzheimer's disease accounts for 60 percent to 80 percent of dementia cases.
            </p>
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
            <img src="/static/home/img/about-extra-2.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
            <h4>Symptoms of Alzheimer's.</h4>
            <p>
              The most common early symptom of Alzheimer's is difficulty remembering newly learned information. 
            </p>
            <p>
              Just like the rest of our bodies, our brains change as we age. Most of us eventually notice some slowed thinking and occasional problems with remembering certain things. However, serious memory loss, confusion and other major changes in the way our minds work may be a sign that brain cells are failing.
            </p>
          </div>
          
        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      HowWeCanHelpYou Section
    ============================-->
    <section id="howwecanhelpyou" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>How we can help you</h3>
          <p>We help you stay connected with your family, in this way, your memories won't be lost.</p>
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Brain games</a></h4>
              <p class="description">Brain games specifically designed to prevent and slow down Alzheimer's disease.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-people-outline" style="color: #e9bf06;"></i></div>
              <h4 class="title"><a href="">Always connected</a></h4>
              <p class="description">Keep your family and friends close.</p><br>
            </div>
          </div>

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-keypad-outline" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Safe and Secure</a></h4>
              <p class="description">Your informations are safe with us.</p><br>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-heart-outline" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Get help from real doctors</a></h4>
              <p class="description">Our doctors are here to help you.</p><br>
            </div>
          </div>

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-world-outline" style="color: #d6ff22;"></i></div>
              <h4 class="title"><a href="">Interconnected</a></h4>
              <p class="description">Your family will always be there for you.</p><br>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-clock-outline" style="color: #4680ff;"></i></div>
              <h4 class="title"><a href="">Slows Alzheimer's down</a></h4>
              <p class="description">Using our application everyday can help slow down the disease.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Why Us Section
    ============================-->
    <section id="why-us" class="wow fadeIn">
      <div class="container">
        <header class="section-header">
          <h3>Why choose us?</h3>
        </header>

        <div class="row row-eq-height justify-content-center">

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-diamond"></i>
              <div class="card-body">
                <h5 class="card-title">Made by professionals</h5>
                <p class="card-text">Our team has a vast experience in dealing with neurological disorders patients.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-bar-chart"></i>
              <div class="card-body">
                <h5 class="card-title">Statistically proven</h5>
                <p class="card-text">Forever Family users are 23% happier.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-users"></i>
              <div class="card-body">
                <h5 class="card-title">Community driven</h5>
                <p class="card-text">This is a product made by people for the people.</p>
              </div>
            </div>
          </div>

        </div>

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">100</span>
            <p>Patients</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">400</span>
            <p>Family Members</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">2,500</span>
            <p>Hours Of Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">100</span>
            <p>Happy Families</p>
          </div>
  
        </div>

      </div>
    </section>

    <!--==========================
      Clients Section
    ============================-->
    <section id="testimonials" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Testimonials</h3>
        </header>

        <div class="row justify-content-center">
          <div class="col-lg-8">

            <div class="owl-carousel testimonials-carousel wow fadeInUp">
    
              <div class="testimonial-item">
                <img src="/static/home/img/testimonial-1.jpg" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Alzheimer's patient</h4>
                <p>
                  Forever Family helps me remember my loved ones, this app made my Alzheimer's much more bearable.
                </p>
              </div>
    
              <div class="testimonial-item">
                <img src="/static/home/img/testimonial-2.jpg" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Alzheimer's patient</h4>
                <p>
                  I used to always forget my grandkids' names, but Forever Family has custom games that helps me remember their names.
                </p>
              </div>
    
              <div class="testimonial-item">
                <img src="/static/home/img/testimonial-3.jpg" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Alzheimer's patient</h4>
                <p>
                  With Forever Family I can always be close to my loved ones!
                </p>
              </div>
    
              <div class="testimonial-item">
                <img src="/static/home/img/testimonial-4.jpg" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Family Member</h4>
                <p>
                  We were always worried about Grandma and her Alzheimer's disease, but with Forever Family we can always be close to her.
                </p>
              </div>
    
              <div class="testimonial-item">
                <img src="/static/home/img/testimonial-5.jpg" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Doctor</h4>
                <p>
                  I recommend Forever Family to all my Alzheimer's patients!
                </p>
              </div>

            </div>

          </div>
        </div>


      </div>
    </section><!-- #testimonials -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-4 footer-info">
          </div>
          <div class="col-lg-4 col-md-4 footer-info">
            <h3>Forever Family</h3>
            <center>Here to keep your family connected</center>
          </div>
          <div class="col-lg-4 col-md-4 footer-info">
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Forever Family</strong> 2019. All Rights Reserved
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="/static/home/lib/jquery/jquery.min.js"></script>
  <script src="/static/home/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/static/home/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/home/lib/easing/easing.min.js"></script>
  <script src="/static/home/lib/mobile-nav/mobile-nav.js"></script>
  <script src="/static/home/lib/wow/wow.min.js"></script>
  <script src="/static/home/lib/waypoints/waypoints.min.js"></script>
  <script src="/static/home/lib/counterup/counterup.min.js"></script>
  <script src="/static/home/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="/static/home/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="/static/home/lib/lightbox/js/lightbox.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="/static/home/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="/static/home/js/main.js"></script>

</body>
</html>
